<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wh.mapper.DepteMapper">

<sql id="selectAll" >
    select id, depte_name, cagrotery, create_time, update_time
    from tb_depte
</sql>
    <select id="searchOrder" resultType="com.wh.pojo.Depte">
        <include refid="selectAll"></include>
        <where>
            <if test="nam!=null">
                depte_name like concat('%',#{nam},'%')
            </if>
            <if test="begin!=null and end!=null">
                and create_time between #{begin} and #{end}
            </if>
            <if test="cagrotery!=null">
                and cagrotery =#{cagrotery}
            </if>
        </where>

        order by update_time desc
    </select>
    <update id="updateDepte" parameterType="com.wh.pojo.Depte">
        update tb_depte
        <set>
            <if test="depteName!=null">depte_name=#{depteName},</if>
            <if test="cagrotery!=null">cagrotery=#{cagrotery},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime}</if>
        </set>

        where id = #{id}
    </update>
    <insert id="insertDepte" parameterType="com.wh.pojo.Depte">
        Insert INTO tb_depte(depte_name, cagrotery, create_time, update_time)
        values (#{depteName}, #{cagrotery}, #{createTime}, #{updateTime})
    </insert>
      <!--批量删除信息根据id,例如(12,16,17)-->
      <!--
    collection:遍历的集合
    item:遍历出来的元素
    separator:分隔符
    open:遍历开始前拼接的SQL片段
    close:遍历结束后拼接的SQL片段
      -->
    <delete id="deleteList">
        delete from tb_depte where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>

    </delete>
</mapper>